h1 {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    margin: 0;
    
  }

li, .li1 {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 100%; 
}
.mvForm {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button {
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    margin: 10px;
    
}
.k,.v {
    display: inline-flex;
    padding: 5px;
    
    align-items: center;
    margin: 5px;
    width: 50%;
}

input[type=text]{
    display: inline-flex;
}

.k {
    justify-content:right;
    background-color: aqua;
}
.v {
    background-color: darkorchid;
}


.refLi{
    list-style: none;
    display: inline-flex;
    
}

.mvList2{
    display: flex;
    justify-content: center;
}

.mvList3 {
    display: flex;
    justify-content: center;
    background-color: aqua;
}